*{
    font-family: Carlito,Arial, Helvetica, sans-serif;
}
a{
    display:block;
    margin:10px 0;

    text-decoration: unset;
    color:rgb(11, 97, 167);
}
a:hover
{
    text-decoration: underline;
    color:rgb(167, 11, 11);
}


label{
    display:block;
}
div{
    margin:20px;
}
.cancel{
    margin:20px 0;
}
dt{
    font-weight: 100;
}
dt::after{
    display:block;
    margin:20;
}


.membres_model{
    margin:0px 30px;
    color:grey;
    font-size:15px;
}